body {
    background-color: #d6e2f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#card {
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    width: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title-txt {
    font-family: 'Outfit';
    font-size: 1.5rem;
    font-weight: 700;
    width: 100%;
    text-align: center;
}

#body-txt {
    font-family: 'Outfit';
    font-weight: 400;
    color: grey;
    text-align: center;
}
img {
    border-radius: 0.5rem;
}